package @@@ scala_package @@@

import chisel3._
import chisel3.util._
import chisel3.experimental.prefix

import chext.{elastic => e}
import e.ConnectOp._

private class @@@ module_name @@@_TbTop extends Module with chext.TestBenchTop {
  override def desiredName: String = "@@@ module_name @@@_TbTop"

  val cfg = @@@ module_name @@@_Config(
    desiredName = Some("@@@ module_name @@@_Dut")
  )

  val dut = Module(new @@@ module_name @@@(cfg))

  val source = IO(e.Source(cfg.genPacket))
  val sink = IO(e.Sink(cfg.genPacket))

  source :=> dut.source
  dut.sink :=> sink
}

// manage: include test
object @@@ module_name @@@_Tb extends chext.TestBench {
  emit(new @@@ module_name @@@_TbTop)
}
