package @@@ scala_package @@@

import chisel3._

private class @@@ module_name @@@_TbTop extends Module with chext.TestBenchTop {
  override def desiredName: String = "@@@ module_name @@@_TbTop"

  val dut = Module(new @@@ module_name @@@)

  val in = IO(Input(UInt(32.W)))
  val out = IO(Output(UInt(32.W)))

  dut.io.in := in
  out := dut.io.out
}

// manage: include test
object @@@ module_name @@@_Tb extends chext.TestBench {
  emit(new @@@ module_name @@@_TbTop)
}
